__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
.hydra/
outputs/
wandb/
models/

conclusions/
reports/
notes/
Deep_Sparse_Prior_Enhancing_Deblurring_Deep_Priors_with_Sparsity.pdf